<template>
  <StackLayout id="main">
    <ScrollView orientation="horizontal">
      <FlexboxLayout class="users">
        <FlexboxLayout class="user" alignItems="center" justifyContent="center" :key="user.id" v-for="user in users" height="50" @tap="onUserTap(user)" :style="[user.selected ? {'backgroundColor': user.color, 'color':'#ffffff' } : {'backgroundColor': user.backgroundColor, 'color':user.color}]">
          <Label :text="user.name"/>
        </FlexboxLayout>
      </FlexboxLayout >
    </ScrollView>
    <RadListView v-if="!emptyTasks" ref="listView" for="task in filteredAccomplishedTasks" layout="linear" swipeActions="true" @itemSwipeProgressStarted="onSwipeStarted" >
      <v-template >
        <StackLayout class="task">
          <AccomplishedTask :task="task" :currentUserId="currentUserId" /> 
        </StackLayout>
      </v-template>
      <v-template name="itemswipe">
        <GridLayout columns="auto, *, auto" class="task">
          <StackLayout col="2" id="delete-view" backgroundColor="#E41E1E" orientation="horizontal" @tap="openDeleteModal($event)">
            <Image class="delete-label" tintColor="white" src="~/assets/images/close-icon.png" verticalAlignment="center" horizontalAlignment="center" width="16" height="16"></Image>
          </StackLayout>
        </GridLayout>
      </v-template>
    </RadListView> 
    <Label v-if="emptyTasks" class="text-big" textWrap="true" :text="noTaskText"/> 
  </StackLayout>
</template>

<script>
const SwipeDirection = require("tns-core-modules/ui/gestures").SwipeDirection;
import mixin from '../../mixin'
import { firebase } from '@nativescript/firebase'
import { ObservableArray } from 'tns-core-modules/data/observable-array';
import { Dialogs } from "@nativescript/core"; 
import AccomplishedTask from '../Components/AccomplishedTask'

export default {
  props:["dashboardInfos"],
  mixins:[mixin],
  components:{
    AccomplishedTask
  },
  data() {
    return {
      emptyTasks:true,
      noTaskText:"Aucune tâche depuis une semaine...",
      users:[],
      selectedTasks:[],
      accomplishedTasks:new ObservableArray([]),
      filteredAccomplishedTasks: new ObservableArray([]),
      dashboardId:this.dashboardInfos.dashboardId,
      currentUserId:this.dashboardInfos.currentUserId
    }
  },
  methods:{
    async onUserTap(user){
      if (user.selected == true) {
        user.selected = false
        this.users[0].selected = true
        this.filteredAccomplishedTasks = this.accomplishedTasks
        this.checkTaskLenght(this.accomplishedTasks)
      } 
      else {
        user.selected = true
        if (user.id == 1) {
          this.filteredAccomplishedTasks = this.accomplishedTasks
          this.checkTaskLenght(this.accomplishedTasks)
        } 
        else {
          this.filteredAccomplishedTasks = this.accomplishedTasks.filter(function(task) {
            return task.userId == user.id
          })
          this.checkTaskLenght(this.filteredAccomplishedTasks)
        }
        this.users.forEach(el => {
          if (el.selected && el.id != user.id) {
            el.selected = false
          }
        })
      }
    },
    checkTaskLenght(accomplishedTasks){
      if (accomplishedTasks.length > 0) {
        this.emptyTasks = false
      }
      else {
        this.emptyTasks = true
      }
    },
    onSwipeStarted({ data, object }){
      const swipeLimits = data.swipeLimits;
      const swipeView = object;
      const rightItem = swipeView.getViewById('delete-view');
      swipeLimits.right = rightItem.getMeasuredWidth();
      swipeLimits.left = 0;
    },
    openDeleteModal({ object }){
      if (object.bindingContext.userId == this.currentUserId) {
        Dialogs.action({
          title: "Êtes vous sûr(e) de vouloir supprimer cette tâche ?",
          message:"Les points seront mis à jour",
          cancelButtonText: "Annuler",
          actions: ["Confirmer"]
        })
        .then((result) => {
          if(result == "Confirmer") {
            this.onDeleteTask(object.bindingContext)
            this.$refs.listView.notifySwipeToExecuteFinished()
          }
        })
      }
      else {
        this.$refs.listView.notifySwipeToExecuteFinished()
        Dialogs.alert({
          title: "Hop hop hop !",
          message:"Vous ne pouvez pas supprimer une tâche réalisée par quelqu'un d'autre :(",
          okButtonText: "Compris",
        })
      }
    },

    onDeleteTask(task){
      // Remove some values then task = task in database and can be removed
      const userDb = this.getUserRef(this.dashboardId, task.userId)
      delete task.userId
      delete task.color
      delete task.day
      delete task.hours
      userDb.update({
        accomplishedTasks:firebase.firestore.FieldValue.arrayRemove(task)
      })
      let objIndex = this.accomplishedTasks.findIndex((obj => obj.addedDate == task.addedDate))
      this.accomplishedTasks.splice(objIndex, 1)
      if (this.accomplishedTasks.length == 0) {
        this.emptyTasks = true
      }
      this.reducePoints(task)
    },
    reducePoints(task) {
     
      let objIndex = this.selectedTasks.findIndex((obj => obj.title == task.title))
      let taskPoints = this.selectedTasks[objIndex].points

      const currentUserDb = this.getUserRef(this.dashboardId, this.currentUserId)
      let currentUser = this.users.find(user => user.id == this.currentUserId)
      let currentUserId = this.currentUserId

      this.users.shift()
      let otherUsers = this.users.filter(function(user) {
        return user.id != currentUserId
      })

      let pointsToAdd = 0

      if (currentUser.points > taskPoints) {
        updateUserPoints(currentUser.points - taskPoints)
      }
      else {
        pointsToAdd = taskPoints - currentUser.points
        currentUserDb.update({
          points:0
        })
      }
      if (pointsToAdd > 0) {
        otherUsers.forEach(otherUser => {
          let otherUserDb = this.getUserRef(this.dashboardId, otherUser.id)
          otherUserDb.update({
            points:otherUser.points + taskPoints + pointsToAdd
          })
        })
      }
      else {
        otherUsers.forEach(otherUser => {
          let otherUserDb = this.getUserRef(this.dashboardId, otherUser.id)
          otherUserDb.update({
            points:otherUser.points + taskPoints
          })
        })
      }
      function updateUserPoints(newPoints){
        currentUserDb.update({
          points:newPoints
        })
      }
    },
    compareDate(addedDate, now){
      let oneWeek = 604800000
      if (now - addedDate > oneWeek) {
        return true
      }
    }
  },
  async mounted() {
    class User {
      constructor(id, name, accomplishedTasks, color, backgroundColor, selected, points){
        this.id = id
        this.name = name
        this.accomplishedTasks = accomplishedTasks
        this.color = color
        this.backgroundColor = backgroundColor
        this.selected = selected
        this.points = points
      }
    }
    class AccomplishedTask {
      constructor(title, addedDate, hours, day, userId, color, icon){
        this.title = title
        this.addedDate = addedDate
        this.hours = hours
        this.day = day
        this.userId = userId
        this.color = color
        this.icon = icon
      }
    }
    // Get all accomplished tasks from every users in DB
    const usersDb = await this.getDashboardUsers(this.dashboardId)
    usersDb.onSnapshot(usersDb => {
      this.users = []
      this.accomplishedTasks = []
      this.filteredAccomplishedTasks = []

      usersDb.forEach(user => {
        let userDb = new User(user.id, user.data().name, [], user.data().color, this.hexToRGB(user.data().color, 0.1), false, user.data().points)
        if (user.data().accomplishedTasks) {
          user.data().accomplishedTasks.forEach(taskDb => {
            if(this.compareDate(taskDb.addedDate, new Date().getTime())){
              const userDatabase = this.getUserRef(this.dashboardId, this.currentUserId)
              userDatabase.update({
                accomplishedTasks:firebase.firestore.FieldValue.arrayRemove(taskDb)
              })
            }
            userDb.accomplishedTasks.push(taskDb)
            let accomplishedTask= new AccomplishedTask(taskDb.title, taskDb.addedDate, this.convertMs(taskDb.addedDate).hours, this.convertMs(taskDb.addedDate).day, user.id, user.data().color, taskDb.icon)
            this.accomplishedTasks.push(accomplishedTask)
            this.filteredAccomplishedTasks.push(accomplishedTask)
            this.accomplishedTasks.sort((a, b) => b.addedDate - a.addedDate)
            this.filteredAccomplishedTasks.sort((a, b) => b.addedDate - a.addedDate)
          })
        }
        this.users.push(userDb)
      })
      if (this.accomplishedTasks.length) {
        this.emptyTasks = false
      }
      let allUsers = new User(1, "Tout le monde", [], "#11435A", "#FAFAFA", true)
      this.users.unshift(allUsers)
    })

    // Get selected tasks in Db
    const selectedTasksDb = await this.getDashboardTasks(this.dashboardId).get()
    selectedTasksDb.docs.map(selectedTaskDb => {
      this.selectedTasks.push(selectedTaskDb.data())
    })
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  #main {
    background-color: $background;
    .users {
      padding:30 0 30 16;
      background-color:$background;
      .user {
        padding:0 20;
        margin:0 10 0 0;
        border-radius:5;
        color:#fff;
        font-weight:500;
      }
    }
    RadListView {
      background-color:$background;
      .task{
        margin-top:1;
        .delete-label {
          margin:0 25;
        }
      }
    }
    .text-big {
      padding:0 32;
    }
  }
</style>