<template>
  <GridLayout rows="*, auto" height="100%">
    <ScrollView>
      <ActivityIndicator :busy="loading" color="#ffffff"></ActivityIndicator>
      <StackLayout row="0">
        <Dashboard :dashboardInfos="dashboardInfos"/>
      </StackLayout>
    </ScrollView>
    <FlexboxLayout flexDirection="column" row="1" id="bottom">
      <Button class="primary-bt secondary-bt" text="J'ai accompli une tâche !" @tap="openTasks"/>
      <FlexboxLayout justifyContent="center" id="bottom-infos">
        <Label :backgroundColor="user.color" height="8" width="8" borderRadius="50%" verticalAlignment="center" alignSelf="center"/>
        <Label class="text-regular" :text="user.name" :color="user.color" textTransform="capitalize"/>
      </FlexboxLayout>
    </FlexboxLayout>
  </GridLayout>
</template>

<script>
  import ModalTasks from '../Components/ModalTasks'
  import Dashboard from '../Components/Dashboard'
  import mixin from '../../mixin'
  import { isAndroid} from "tns-core-modules/platform";

  export default {
    props:["dashboardInfos"],
    mixins:[mixin],
    components:{
      Dashboard
    },
    data() {
      return {
        users:[],
        selectedTasks:[],
        loading:true,
        dashboardId:this.dashboardInfos.dashboardId,
        currentUserId:this.dashboardInfos.currentUserId,
        user:{}
      }
    },
    methods: {
      openTasks(){
        if(isAndroid){
          this.$showModal(ModalTasks, {
            fullscreen:true,
            animated:true,
            props: {
              users: this.users,
              selectedTasks: this.selectedTasks,
              dashboardId: this.dashboardId,
              currentUserId: this.currentUserId
            }
          })
        }
        else {
          this.$showModal(ModalTasks, {
            props: {
              users: this.users,
              selectedTasks: this.selectedTasks,
              dashboardId: this.dashboardId,
              currentUserId: this.currentUserId
            }
          })
        }
      },
    },
    async mounted() {
      class User {
        constructor(id, name, points, color){
          this.id = id
          this.name = name
          this.points = points
          this.color = color
        }
      }
      // Get selected tasks in Db
      const selectedTasksDb = await this.getDashboardTasks(this.dashboardId).get()
      selectedTasksDb.docs.map(selectedTaskDb => {
        this.selectedTasks.push(selectedTaskDb.data())
      })
      // Get all users in dashboard in Db and listening for change
      const usersDb = await this.getDashboardUsers(this.dashboardId)
      usersDb.onSnapshot(usersDb => {
        this.users = []
        usersDb.forEach(user =>  {
          let userDb = new User(user.id, user.data().name, user.data().points, user.data().color)
          this.users.push(userDb)
        })
      })
      // Get current user in Db
      const userDb = await this.getUserRef(this.dashboardId, this.currentUserId)
      userDb.get().then(user => {
        this.user = new User(user.id, user.data().name, user.data().points, user.data().color)
      })
      this.loading = false
    }
  }
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  GridLayout{
    background-color:$primary; 
    #addtask-bt {
      width: 60;
      height: 60;
    }
    #bottom {
      margin:0 16;
      .secondary-bt {
        background-color:#ffffff;
        color:$primary;
      }
      #bottom-infos{
        margin-top: 20;
        margin-bottom: 20;
        .text-regular{
          margin-left:10;
        }
      }
    }

  } 
</style>