<template>
  <Page actionBarHidden="true" class="home">
    <RadSideDrawer ref="drawer" :drawerTransition="transition" :drawerLocation="currentLocation" showOverNavigation="true" >
      <StackLayout ~mainContent>
        <Frame>
          <Page actionBarHidden="false">
            <ActionBar @openDrawer="openDrawer"/>
              <MDTabs tabsPosition="top" selectedIndex="0" swipeEnabled="false" animationEnabled="false">
                <MDTabStrip> 
                  <MDTabStripItem>
                    <Label text="Classement"/>
                  </MDTabStripItem>
                  <MDTabStripItem>
                    <Label text="Tâches réalisées"/>
                  </MDTabStripItem>
                </MDTabStrip>
                <MDTabContentItem>
                  <Home :dashboardInfos="dashboardInfos"/>
                </MDTabContentItem>      
                <MDTabContentItem>
                  <AccomplishedTasks :dashboardInfos="dashboardInfos"/>
                </MDTabContentItem>
              </MDTabs>
          </Page>
        </Frame>
      </StackLayout>
      <StackLayout ~drawerContent >
        <Menu @closeDrawer="closeDrawer" :dashboardInfos="dashboardInfos"/>       
      </StackLayout>
    </RadSideDrawer>
  </Page>
</template>

<script>
import * as applicationSettings from 'tns-core-modules/application-settings'
import ActionBar from '../Components/ActionBar'
import Menu from '../Components/Menu'
import Home from './Home'
import AccomplishedTasks from './AccomplishedTasks'
import App from '../App'
import mixin from '../../mixin'
// Menu effect
import { SlideAlongTransition } from 'nativescript-ui-sidedrawer';
import { SideDrawerLocation } from 'nativescript-ui-sidedrawer'
import { isIOS } from '@nativescript/core/platform';
import { themer } from '@nativescript-community/ui-material-core';
if (isIOS) {
  themer.setPrimaryColor('#0A3A4F');
}

export default {
  mixins:[mixin],
  components: {
    Home,
    AccomplishedTasks,
    ActionBar,
    Menu, 
    App
  },
  data () {
    return {
      transition: new SlideAlongTransition(),
      currentLocation: SideDrawerLocation.Left,
      dashboardInfos: {
        dashboardId:applicationSettings.getString("dashboardId"),
        currentUserId:applicationSettings.getString("currentUserId")
      }
    };
  },
  methods: {
    onNavigationButtonTap() {
      Frame.topmost().goBack();
    },
    closeDrawer() {
      this.$refs.drawer.closeDrawer()
    },
    openDrawer() {
      this.$refs.drawer.showDrawer();
    },
  },
  async mounted(){
    const dashboardDb = await this.getDashboardRef(this.dashboardInfos.dashboardId)
    dashboardDb.onSnapshot((doc) => {
      if (!doc.exists) {
        this.dashboardInfos.dashboardId = ''
        this.dashboardInfos.currentUserId = ''
        applicationSettings.remove("dashboardId")
        applicationSettings.remove("currentUserId")
        applicationSettings.remove("initApp")
        applicationSettings.clear()
        if (!applicationSettings.hasKey("initApp") && !applicationSettings.hasKey("dashboardId") && !applicationSettings.hasKey("currentUserId")){
          this.$navigateTo(App)
        } 
      }  
    })
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  MDTabStrip {
    selected-item-color: #ffffff;
    un-selected-item-color: #71B2CE;
    highlight-color: #ffffff;
    background-color: $primary-light;
  }
  MDTabs {
    font-size:16;
    text-transform:uppercase;
  }
</style>