<template>
  <Page>
    <ActionBar title="Paramètres" flat="true" class="action-bar">
      <NavigationButton text="" android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
    </ActionBar>
    <FlexboxLayout flexDirection="column" class="links">
      <FlexboxLayout alignItems="center" @tap="onLinkTap(ParamsUsers)" class="link">
        <Label text="Modifier les utilisateurs"/>
      </FlexboxLayout>
      <Label class="link-border" />
      <FlexboxLayout alignItems="center" @tap="onLinkTap(ParamsTasks)" class="link">
        <Label text="Modifier le choix des tâches du ménage"/>
      </FlexboxLayout>
      <Label class="link-border" />
      <FlexboxLayout alignItems="center" @tap="openDialogReset" class="link">
        <Label text="Remettre les compteurs à 0"/>
      </FlexboxLayout>
      <Label class="link-border"/>
      <FlexboxLayout alignItems="center" @tap="openDialogQuit" class="link highlight">
        <Label text="Quitter le dashboard"/>
      </FlexboxLayout>
      <Label class="link-border"/>
      <FlexboxLayout alignItems="center" @tap="openDialogDelete" class="link highlight">
        <Label text="Supprimer le dashboard"/>
      </FlexboxLayout>
      <Label class="link-border"/>
      <Label if="error" :text="error" class="text-error" textWrap="true"/>
    </FlexboxLayout>
  </Page>
</template>

<script>
import * as applicationSettings from 'tns-core-modules/application-settings'
import { Dialogs } from "@nativescript/core"; 
import ParamsUsers from './ParamsUsers'
import ParamsTasks from './ParamsTasks'
import App from '../App'
import Main from './Main'
import mixin from '../../mixin'

export default {
  props:["dashboardInfos"],
  mixins:[mixin],
  components:{
    ParamsUsers,
    ParamsTasks,
    Main
  },
  data() {
    return {
      ParamsUsers:ParamsUsers,
      ParamsTasks:ParamsTasks,
      error:"",
      isValid:true,
      currentUserName:"",
      users:[]
    }
  },
  methods:{
    onLinkTap(page) {
      this.$navigateTo(page, {
        props: {
          dashboardInfos:this.dashboardInfos
        }
      })
    },
    openDialogReset() {
      Dialogs.action({
        title: "Etes vous sur de vouloir remettre les points de tous les utilisateurs à 0 ?",
        message:"Vous ne pourrez plus récuperer les points",
        cancelButtonText: "Annuler",
        actions: ["Confirmer"]
      })
      .then((result) => {
        if(result == "Confirmer") {
          this.onResetPoints()
        }
      })
    },
    async onResetPoints(){
      const usersDb = await this.getDashboardUsers(this.dashboardInfos.dashboardId)
      usersDb.get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
          doc.ref.update( {
            points:0
          })
        })
        this.$navigateTo(Main)
      })
    },
    openDialogQuit() {
      this.$emit('closeDrawer')
      Dialogs.action({
        title: "Etes vous sur de vouloir quitter la partie ?",
        message:"L'utilisateur " + this.currentUserName + " sera supprimé de la partie",
        cancelButtonText: "Annuler",
        actions: ["Confirmer"]
      })
      .then((result) => {
        if(result == "Confirmer") {
          this.quitDashboard()
        }
      })
    },
    async quitDashboard(){
      const user = this.getUserRef(this.dashboardInfos.dashboardId, this.dashboardInfos.currentUserId)
      if (this.users.length == 1) {
        this.onDeleteDashboard()
      }
      else {
        user.delete()
        .then(()=> {
          this.deleteAppSettings()
        })
        .catch((error) => {
          this.error = error
        })
      }
    },
    openDialogDelete() {
      Dialogs.action({
        title: "Etes vous sur de vouloir supprimer la partie en cours ?",
        message:"Les points et informations de tous les joueurs seront supprimés",
        cancelButtonText: "Annuler",
        actions: ["Confirmer"]
      })
      .then((result) => {
        if(result == "Confirmer") {
          this.onDeleteDashboard()
        }
      })
    },
    async onDeleteDashboard(){
      // Delete users
      const usersDb = await this.getDashboardUsers(this.dashboardInfos.dashboardId)
      usersDb.get().then(res=> {
        res.forEach(doc => {
          doc.ref.delete()
          .then(()=> {})
          .catch((error) => {
            this.error = error
            this.isValid = false
          })
        })
      })
      // Delete tasks
      const selectedTaskDb = await this.getDashboardTasks(this.dashboardInfos.dashboardId)
      selectedTaskDb.get().then(querySnapshot => {
        querySnapshot.forEach(doc => {
          doc.ref.delete()
          .then(()=> {})
          .catch((error) => {
            this.error = error
            this.isValid = false
          })
        })
      }) 
      // Delete dashboard
      const dashboardDb = await this.getDashboardRef(this.dashboardInfos.dashboardId)
      dashboardDb.delete()
      .then(()=> {
        this.deleteAppSettings()
      })
      .catch((error) => {
        this.error = error
        this.isValid = false
      })
    },
    deleteAppSettings(){
      if (this.isValid) {
        this.dashboardInfos.dashboardId = ''
        this.dashboardInfos.currentUserId = ''
        applicationSettings.remove("dashboardId")
        applicationSettings.remove("currentUserId")
        applicationSettings.remove("initApp")
        applicationSettings.clear()
        if (!applicationSettings.hasKey("initApp") && !applicationSettings.hasKey("dashboardId") && !applicationSettings.hasKey("currentUserId")){
          this.$navigateTo(App)
        } 
      }  
    }
  },
  async mounted(){
    let userDb = this.getUserRef(this.dashboardInfos.dashboardId, this.dashboardInfos.currentUserId)
    userDb.get().then(user => {
      this.currentUserName = user.data().name
    })

    const usersDb = await this.getDashboardUsers(this.dashboardInfos.dashboardId)
    usersDb.onSnapshot(usersDb => {
      this.users = []
      usersDb.forEach(user => {
        this.users.push(user.id)
      })
    })
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  Page {
    background-color:$light;
    .highlight{
      color:$highlight
    }
  }
</style>