<template>
  <Page>
    <ActionBar title="Utilisateurs" flat="true" class="action-bar">
      <NavigationButton visibility="collapsed"/>
      <ActionItem @tap="onTapBack" text="Annuler" ios.position="left"/>
      <ActionItem @tap="onSaveUsers" text="Enregistrer" ios.position="right"/>
    </ActionBar>
    <GridLayout rows="*, auto" height="100%">
      <UsersList @onUserTap="onUserTap" :users="users" :currentUserId="currentUserId" class="users-list"/>
      <StackLayout row="1" >
        <Label if="error" :text="error" class="text-error" textWrap="true"/>
        <FlexboxLayout backgroundColor="white" class="user-input" flexDirection="column">
          <Label textWrap="true" text="Ajouter un nouvel utilisateur" class="text-regular"/>
          <TextField class="textfield-secondary" row="1" v-model="textFieldValue" hint="Nom de l'utilisateur" returnKeyType="done" @returnPress="onAddUser" @focus="onFocus" @blur="onBlur"/>
        </FlexboxLayout>
      </StackLayout>
    </GridLayout> 
  </Page>
</template>

<script>
import * as applicationSettings from 'tns-core-modules/application-settings'
import mixin from '../../mixin'
import Main from './Main'
import { Dialogs } from "@nativescript/core"; 
import UsersList from '../Components/UsersList'
import { isIOS } from '@nativescript/core/platform';

export default {
  props:["dashboardInfos"],
  mixins:[mixin],
  components: {
    Main,
    UsersList
  },
  data() {
    return {
      users:[],
      colors:[],
      textFieldValue:"",
      currentUserId:this.dashboardInfos.currentUserId,
      dashboardId:this.dashboardInfos.dashboardId,
      usersToDelete:[],
      usersToAdd:0,
      usersToUpdate:[],
      isValid:true,
      error:"",
    }
  },
  methods:{
    onFocus(args){
      if (isIOS) {
        args.object.marginBottom = "345"
      }
    },
    onBlur(args){
      if (isIOS) {
        args.object.marginBottom = "20"
      }
    },
    onAddUser(){
      let validForm = this.validateForm(this.textFieldValue, this.users)
      if (validForm.valid) {  
        class User {
          constructor(name, points, color, backgroundColor, newUser){
            this.name = name
            this.points = points
            this.color = color
            this.backgroundColor = backgroundColor
            this.newUser = newUser
          }
        }
        let user = new User(this.textFieldValue, 0, this.colors[0], this.hexToRGB(this.colors[0], 0.1), true)
        this.colors.shift()
        this.users.push(user)
        this.textFieldValue = ""
        this.usersToAdd = this.usersToAdd + 1 
      }
      else {
        this.error = validForm.error
      }
    },
    onUserTap(user) {
      Dialogs.action({
        title: "Que voulez-vous faire ?",
        cancelButtonText: "Annuler",
        actions: ["Je suis cet utilisateur", "Modifier", "Supprimer"]
      })
      .then(result => {
        switch(result) {
          case "Je suis cet utilisateur": 
            this.selectUser(user)
            break;
          case "Modifier": 
            this.changeUserName(user)
            break;
          case "Supprimer": 
            this.deleteUser(user)
            break;
        }
      })
    },
    selectUser(user){
      if (user.newUser == false) {
        this.currentUserId = user.id
      } else {
        this.currentUserId = user.name
      }
      if (this.error) {
        this.error = ""
      }
      if (!this.isValid) {
        this.isValid = true
      }
      this.$refs.usersList.refresh()
    },
    changeUserName(user){
      Dialogs.prompt({
        title:"Changer le nom de l'utilisateur",
        okButtonText: "Valider",
        cancelButtonText: "Annuler",
        defaultText: user.name,
      })
      .then (result => {
        if (result.text != user.name){
          let validForm = this.validateForm(result.text, this.users)
          if (validForm.valid) {  
            let objIndex = this.users.findIndex((obj => obj.id == user.id))
            this.users[objIndex].name = result.text
            if (user.newUser == false) {
              this.usersToUpdate.push(this.users[objIndex])
            }
            if (this.error) {
              this.error = ""
            }
          }
          else {
            this.error = validForm.error
          }
        }
      })
    },
    deleteUser(user){
      if (user.id == this.currentUserId) {
        this.error= "Vous devez choisir qui vous êtes"
        this.isValid = false
      }
      if (user.name == this.currentUserId) {
        this.currentUserId = this.dashboardInfos.currentUserId
      }
      this.colors.push(user.color)
      this.users = this.users.filter(function(obj) {
        return obj.name !== user.name
      })
      if (user.newUser == false) {
        this.usersToDelete.push(user.id)
      } 
      else {
        this.usersToAdd = this.usersToAdd - 1 
      }
      if (this.users.length < 1) {
        this.error = "Attention, vous devez avoir au moins 1 utilisateur enregistré dans le Kimok !"
        this.isValid = false
      }
    },
    async onSaveUsers(){
      if (this.users.length){      
        if(this.usersToUpdate.length > 0 && this.isValid){
          this.onUpdateUserInDb()
        }
        if (this.usersToDelete.length > 0 && this.isValid) {
          this.onDeleleteUsersInDb()
        }
        if (this.usersToAdd > 0 && this.isValid) {
          await this.onSaveNewUsersInDb()
        }
        if (this.currentUserId != applicationSettings.getString("currentUserId")) {
          applicationSettings.setString("currentUserId", this.currentUserId)
        }
        if (this.isValid){
          this.$navigateTo(Main)
        }
      }
      else {
        this.error= "Attention, vous devez avoir au moins 1 utilisateur enregistré dans le Kimok !"
      }

    },
    onUpdateUserInDb(){
      const usersDb = this.getDashboardUsers(this.dashboardId)
      this.usersToUpdate.forEach(userToUpdate => {
        usersDb.doc(userToUpdate.id).update({
          name:userToUpdate.name
        })
        .then(() => {})
        .catch((error) => {
          this.error = error
        })
      })
    },
    onDeleleteUsersInDb(){
      const usersDb = this.getDashboardUsers(this.dashboardId)
      this.usersToDelete.forEach(userToDeleteId => {
        usersDb.doc(userToDeleteId).delete()
        .then(() => {})
        .catch((error) => {
          this.error = error
        })
      })
    },
    onSaveNewUsersInDb() {
      return new Promise(resolve => {
        const usersDb = this.getDashboardUsers(this.dashboardId)
        this.users.forEach(user => {
          if (user.newUser) {
            delete user.newUser
            delete user.backgroundColor
            if (user.name == this.currentUserId) {
              usersDb.add(user)
              .then(userDb => {
                resolve(this.currentUserId = userDb.id)
              })
              .catch((error) => {
                this.error = error
              })
            }
            else {
              usersDb.add(user)
              .then(result =>{
                resolve()
              })
              .catch((error) => {
                this.error = error
              })
            }
          }
        })
      });
    },
    onTapBack() {
      this.$navigateTo(Main)
    },
  },
  async mounted() {
    class User {
      constructor(id, name, color, backgroundColor, newUser){
        this.id = id
        this.name = name
        this.color = color
        this.backgroundColor = backgroundColor
        this.newUser = newUser
      }
    }
    // Get all users in dashboard in Db
    const usersDb = await this.getDashboardUsers(this.dashboardId).get()
    usersDb.docs.map(doc =>  {
      let userDb = new User(doc.id, doc.data().name, doc.data().color, this.hexToRGB(doc.data().color, 0.1), false)
      this.users.push(userDb)
    })
    // Get all colors from DB 
    const colorsDb = await this.getColors()
    colorsDb.get().then((doc) => {
      doc.data().colors.forEach(color => {
        this.colors.push(color)
      })
      this.users.forEach(user => {
        this.colors = this.colors.filter(e => !e.includes(user.color))
      })
    })
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  Page {
    background-color:$background;
    .users-list{
      margin:0 16;
    }
    .user-input{
      padding: 32 16 0 16;
      border-radius:10;
    }
    .text-error{
      margin-left:16;
    }
  }
</style>