<template>
<Page>
  <ActionBar title="À propos" flat="true" class="action-bar">
    <NavigationButton text="" android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
  </ActionBar>
  <ScrollView>
    <StackLayout>
      <Label textWrap="true" text="Kimok c'est quoi ?" class="title"/>
      <Label textWrap="true" class="text-regular" text="Kimok est une application gratuite qui a pour but d'équilibrer la répartition des taches ménagères entre couples, famille ou colocataires."/>
      <Image src="~/assets/images/lifestyle.png" class="lifestyle-img"/>
      <Label textWrap="true" class="text-regular" text="Nous essayons de faire en sorte que l'application soit la plus simple possible à prendre en main pour que vous passiez le moins de temps possible dessus. En seulement deux petits clics après une tâche réalisée, vos points et ceux de vos adversaires sont mis à jour et vous pouvez voir qui devrait mettre la main à la pâte."/>
      <Label textWrap="true" text="Pourquoi cette application?" class="title"/>
      <Label textWrap="true" class="text-regular" text="Les tâches du quotidien peuvent être source de tensions. Cuisiner un plat, tondre la pelouse, aller promener le chien, il est nécessaire d'équilibrer plus équitablement ces tâches afin de répartir la charge mentale. À titre d'exemple, en France, 73% des tâches domestiques sont réalisées par les femmes (ifop)"/>
      <Label textWrap="true" text="Transparence" class="title"/>
      <Label textWrap="true" class="text-regular"  text="Comme vous l'avez sûrement remarqué, vous n'avez pas eu besoin de créer un compte pour utiliser Kimok. De ce fait, nous exploitons et stockons aucune donnée personnelle. \o/"/>
    </StackLayout>
  </ScrollView>
</Page>
</template>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
    Page {
    background-color:$light;
    StackLayout {
      margin:16;
      .title {
        color:$primary;
        margin-top:20;
        font-size:24;
        font-weight:500;
      }
      .text-regular {
        margin-top:16;
        margin-bottom:16;
      }
      .lifestyle-img {
        margin-top:20;
        margin-bottom:20;
      }
    }

    }
</style>
