<template>
  <Page>
    <ActionBar title="Tâches" flat="true" class="action-bar">
      <NavigationButton visibility="collapsed"/>
      <ActionItem @tap="onTapBack" text="Annuler" ios.position="left"/>
      <ActionItem @tap="onSaveTasks" text="Enregistrer" ios.position="right"/>
    </ActionBar>
    <ScrollView>
      <FlexboxLayout flexDirection="column" class="tasks">
        <Label if="error" :text="error" class="text-error" textWrap="true"/>
        <FlexboxLayout justifyContent="space-between" alignItems="center" :key="task.id" v-for="task in tasks">
          <Task @addPoints="onSelectTask" :task="task" v-bind:class="{selected:task.selected}" class="task"/>
          <FlexboxLayout v-if="task.selected" class="edit" height="60" justifyContent="center" alignItems="center" @tap="openPointsDialog(task)">
            <Image src="~/assets/images/icons/icon-edit.png" class="task-icon"></Image>
          </FlexboxLayout>
        </FlexboxLayout>
      </FlexboxLayout>
    </ScrollView>
  </Page>
</template>

<script>
import { firebase } from '@nativescript/firebase'
import { Dialogs } from "@nativescript/core"; 
import Main from './Main'
import mixin from '../../mixin'
import Task from '../Components/Task'

export default {
  props:["dashboardInfos"],
  mixins:[mixin],
  components: {
    Main,
    Task
  },
  data() {
    return {
      tasks:[],
      isValid:false,
      preSelectedTasks:[],
      error:""
    }
  },
  methods: {
    openPointsDialog(task){
      Dialogs.action({
        title: "Modifier le nombre de points pour cette tache",
        cancelButtonText: "Annuler",
        actions: ["1", "2", "3"]
      })
      .then(result => {
        if (result != "Annuler") {
          let points = parseInt(result)
          this.onChangePoints(points, task)
        }
      })
    },
    onChangePoints(result, task){
      let objIndex = this.tasks.findIndex((obj => obj.title == task.title))
      this.tasks[objIndex].points = result
    },
    onSelectTask(task) {
      let objIndex = this.tasks.findIndex((obj => obj.title == task.title))
      this.tasks[objIndex].selected ? this.tasks[objIndex].selected = false : this.tasks[objIndex].selected = true
      this.checkArray()
    },
    checkArray(){
      this.tasks.some(task => task.selected == true) ? this.isValid = true : this.isValid = false
    },

    async onSaveTasks() {

      let tasksToAdd = []
      let tasksToDelete = []
      let tasksToUpdate = []

      // Find selected tasks
      let selectedTasks = this.tasks.filter(function(obj) {
        return obj.selected == true
      })
      // Find non-selected tasks
      let unSelectedTasks = this.tasks.filter(function(obj) {
        return obj.selected == false
      })
      // If new tasks -> add to array tasksToAdd
      selectedTasks.forEach(selectedTask => {
        if (!this.preSelectedTasks.some(preSelectedTask => preSelectedTask.title == selectedTask.title )) {
          tasksToAdd.push(selectedTask)
        }
      })
      // If tasks to delete -> add to array tasksToDelete
      unSelectedTasks.forEach(el => {
        if (this.preSelectedTasks.some(item => item.title == el.title )) {
          let objIndex = this.preSelectedTasks.findIndex((obj => obj.title == el.title))
          tasksToDelete.push(this.preSelectedTasks[objIndex].id)
        } 
      })
      // If task new points -> add to array tasksToUpdate
      selectedTasks.forEach(selectedTask => {
        if (this.preSelectedTasks.some(preSelectedTask => preSelectedTask.title == selectedTask.title) && !this.preSelectedTasks.some(preSelectedTask => preSelectedTask.points == selectedTask.points ) ) {
          let objIndex = this.preSelectedTasks.findIndex((obj => obj.title == selectedTask.title))
          let tasktoupdate = {
            id:this.preSelectedTasks[objIndex].id,
            points:selectedTask.points
          }
          tasksToUpdate.push(tasktoupdate)
        }
      })
      if (tasksToUpdate.length > 0) {
        await this.updateTasksPointsDb(tasksToUpdate)
      }
      if (tasksToAdd.length > 0) {
        await this.addTasksDb(tasksToAdd)
      }
      if (tasksToDelete.length > 0) {
        await this.deleteTaskDb(tasksToDelete)
      }
      if (this.isValid){
        this.$navigateTo(Main)
      }
    },
    async updateTasksPointsDb(tasksToUpdate) {
      const selectedTasksDb = await this.getDashboardTasks(this.dashboardInfos.dashboardId)
      tasksToUpdate.forEach(taskToUpdate => {
        selectedTasksDb.doc(taskToUpdate.id).update({
          points:taskToUpdate.points
        })
      })
    },
    async addTasksDb(tasksToAdd) {
      const selectedTasksDb = await this.getDashboardTasks(this.dashboardInfos.dashboardId)
      tasksToAdd.forEach(el => {
        selectedTasksDb.add(el)
      })
    },
    async deleteTaskDb(tasksToDelete) {
      const selectedTasksDb = await this.getDashboardTasks(this.dashboardInfos.dashboardId)
      tasksToDelete.forEach(taskToDeleteId => {
        selectedTasksDb.doc(taskToDeleteId).delete()
      })
    },
    onTapBack(args) {
      const button = args.object;
      const page = button.page;
      page.frame.goBack();
    },
  },
  async mounted() {
    class Task {
      constructor(title, points, selected, icon){
        this.title = title
        this.points = points
        this.selected = selected
        this.icon = icon
      }
    }
    class PreSelectedTask {
      constructor(id, title, points, selected){
        this.id = id
        this.title = title
        this.points = points
        this.selected = selected
      }
    }
    // Get all tasks in Db
    const tasksDb = await firebase.firestore.collection("tasks").get()
    tasksDb.docs.map(doc =>  {
      let task = new Task(doc.data().title, doc.data().points, false, doc.data().icon)
      this.tasks.push(task)
    })
    
    // Get all selected tasks in dashboard DB and change selected value in tasks array
    const selectedTasksDb = await this.getDashboardTasks(this.dashboardInfos.dashboardId).get()
    selectedTasksDb.docs.map(doc =>  {
      let objIndex = this.tasks.findIndex((obj => obj.title == doc.data().title))
      this.tasks[objIndex].selected = true
      this.tasks[objIndex].points = doc.data().points
      let preSelectedTask = new PreSelectedTask(doc.id, doc.data().title, doc.data().points, doc.data().selected)
      this.preSelectedTasks.push(preSelectedTask)
    })
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  Page {
    background-color:$background;
    .tasks {
      margin: 0 16;
      .task {
        width:85%;
      }
      .edit {
        width:13%;
        background-color:#36939C;
        border-radius:5px;
        margin-top:10;
        .task-icon {
          width: 24;
          height: 24;
        }
      }
    }
  }
</style>