// Variables
$primary: #0C3E53;
$primary-light: #134860;
$secondary: #4C6B79;
$light:#EBEFF2;
$highlight:#E41E1E;
$background: #F4F7F9;

.action-bar {
  background-color:$primary-light;
  color:#fff;
}

.primary-bt {
  height:60;
  background-color: $primary;
  border-radius: 5;
  text-align: center;
  font-size:16;
  font-weight:500;
  color:#ffffff;
  margin-bottom:16;
}

.inactive{
  opacity:0.5;
}

.active {
  opacity:1;
}

.link {
  height:60;
  padding: 0 16;
  color:$primary;
  font-size:16;
  font-weight:500;
}

.link-border {
  height: 1;
  background-color: #E1E9EE;
}

.text-big {
  color:$secondary;
  text-align: center;
  font-size:20;
  font-weight:400;
  line-height:8;
}

.text-regular {
  color:$primary;
  font-size:16;
  font-weight:400;
  line-height:8;
}

.text-error {
  color:$highlight;
  font-size:16;
  font-weight:400;
  margin-bottom:16;
}

@mixin textfield {
  height:60;
  border-radius:5;
  margin: 20 0;
  padding:20;
  color:$primary;
  font-size:16;
  font-weight:400;
  placeholder-color:$secondary;
}

.textfield-primary {
  @include textfield;
  background-color: #FFF;
}

.textfield-secondary {
  @include textfield;
  border-width: 1 1 1 1;
  border-color:$light;
}

.selected {
  background-color:#36939C;
  color:#fff;
}