<template>
  <Main v-if="initApp"/>
  <Welcome v-else/>  
</template>

<script>
import * as applicationSettings from 'tns-core-modules/application-settings'
import Main from './Views/Main'
import Welcome from './Onboarding/Welcome'
export default {
  components: {
    Main,
    Welcome
  },
  data () {
    return {
      initApp:applicationSettings.getBoolean("initApp"),
    };
  }
}
</script>