<template>
  <FlexboxLayout class="task-single" justifyContent="space-between" alignItems="center" height="70">
    <FlexboxLayout>
      <Image :src="taskImage" class="task-icon"/>
      <Label class="text-regular" :text="task.title"/>
    </FlexboxLayout>
    <FlexboxLayout>
      <Label class="text-regular task-time" :text="task.day + ' ' + task.hours"/>
      <Label :backgroundColor="task.color" height="10" width="10" borderRadius="50%" verticalAlignment="center" alignSelf="center"/>
    </FlexboxLayout>
  </FlexboxLayout>
</template>

<script>
import mixin from '../../mixin'
export default {
  props:["task", 'currentUserId'],
  mixins:[mixin],
  data(){
    return {
      taskTime:{
        hours:'',
        day:''
      },
      taskImage:""
    }
  },
  mounted() {
    this.taskTime.hours = this.convertMs(this.task.addedDate).hours
    this.taskTime.day = this.convertMs(this.task.addedDate).day
    this.taskImage = "~/assets/images/icons/" + this.task.icon + ".png"

  },
  methods: {
    onDeleteTask(task){
      this.$emit('onDeleteTask', task)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/css/_var-mix.scss";
  .task-single {
    background-color:#fff;
    padding:0 16;
    .task-icon {
      width: 24;
      height: 24;
      vertical-align: center;
      margin-right:10;
    }
    .task-time {
      color:$secondary;
      margin-right:20;
    }
  }
</style>