 <template>
  <ActionBar title="Kimoko" flat="true">
    <NavigationButton visibility="collapsed"/>
    <ActionItem ios.position="left">
      <GridLayout width="18" height="14">
      <Image class="icon-menu" @tap="openDrawer" src="~/assets/images/icon-menu.png" tintColor="white"/>
      </GridLayout>
    </ActionItem>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center">
      <Image src="~/assets/images/logo-kimok-white.png" class="action-image"></Image>
    </StackLayout>
  </ActionBar>
</template>

<script>
  export default {
    methods: {
      openDrawer(){
        this.$emit('openDrawer')
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/_var-mix.scss";
  ActionBar {
    background-color:$primary-light;
    color:#fff;
    padding:0 16;
    ActionItem{
      color:#ffffff;
    }
    .action-image {
      width: 100;
      height: 24;
      vertical-align: center;
    }
    .icon-menu {
      width:18;
      height:12;
      vertical-align: center;
    }
  }
</style>