<template>
  <RadCartesianChart :height="dashboardHeight" lineHidden="true">
    <RadCartesianChartGrid v-tkCartesianGrid horizontalLinesVisible="false" verticalLinesVisible="false" horizontalStripLinesVisible="false" verticalStripLinesVisible="false"></RadCartesianChartGrid>
    <LinearAxis  v-tkCartesianHorizontalAxis lineHidden="true" ticksHidden="true" maximum="80"></LinearAxis>
    <CategoricalAxis v-tkCartesianVerticalAxis lineHidden="false" ticksHidden="true" lineColor="#164457" lineThickness="2" labelLayoutMode="Outer" labelFitMode="Rotate" ></CategoricalAxis>
    <BarSeries seriesName="item" paletteMode="Item" showLabels="true" v-tkCartesianSeries  for="item in items" categoryProperty="name" valueProperty="points"></BarSeries>
    <Palette seriesName="item" v-tkCartesianPalette>
      <PaletteEntry v-tkCartesianPaletteEntry strokeColor="#0A3A4F" :fillColor="colors[0]" ></PaletteEntry>
      <PaletteEntry v-tkCartesianPaletteEntry strokeColor="#0A3A4F" :fillColor="colors[1]" ></PaletteEntry>
      <PaletteEntry v-tkCartesianPaletteEntry strokeColor="#0A3A4F" :fillColor="colors[2]" ></PaletteEntry>
      <PaletteEntry v-tkCartesianPaletteEntry strokeColor="#0A3A4F" :fillColor="colors[3]" ></PaletteEntry>
      <PaletteEntry v-tkCartesianPaletteEntry strokeColor="#0A3A4F" :fillColor="colors[4]" ></PaletteEntry>
    </Palette> 
  </RadCartesianChart>
</template>
<script>
import { ObservableArray } from 'tns-core-modules/data/observable-array';
import mixin from '../../mixin'
  export default {
    props:["dashboardInfos"],
      mixins:[mixin],
    data() {
      return {
        dashboardHeight:"",
        users:[],
        colors:[],
        dashboardId:this.dashboardInfos.dashboardId,
        currentUserId:this.dashboardInfos.currentUserId,
        items:new ObservableArray([]),
      }
    },
    async mounted(){
      class User {
        constructor(name, points, color){
          this.name = name
          this.points = points
          this.color = color
        }
      }
      // Get all users in dashboard in Db and listening for change
      const usersDb = await this.getDashboardUsers(this.dashboardId)
      usersDb.onSnapshot(usersDb => {
        this.items = []
        this.colors = []
        usersDb.forEach(user =>  {
          let userDb = new User(user.data().name, user.data().points, user.data().color)
          this.items.push(userDb)
        })
        this.items.sort((a, b) => a.points - b.points)
        this.items.forEach(item => {
          this.colors.push(item.color)
        })
        this.dashboardHeight = this.items.length * 90
      })
    }
  }
</script>
<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  RadCartesianChart {
    margin: 40 0 0 0;
    background-color: $primary;
  }
  ChartAxisLabel{
    color: #ffffff;
    font-size: 16;
    margin:10;
  }
  LinearAxis ChartAxisLabel {
    color: transparent;
  }
  ChartSeriesLabel {
    font-size: 16;
    margin:30;
    color: #ffffff;
    font-weight:600;
    border-color: transparent;
    border-width:0;
    background-color: transparent;
    format:"%.0f";
  }
</style>
