<template>
  <GridLayout rows="*, auto" height="100%">
    <StackLayout>
      <FlexboxLayout class="header" height="150">
      </FlexboxLayout>
      <FlexboxLayout flexDirection="column">
        <FlexboxLayout justifyContent="space-between" alignItems="center" class="link" @tap="onLinkTap(Params)">
          <FlexboxLayout >
            <Image src="~/assets/images/icons/icon-params.png" class="task-icon"/>
            <Label text="Paramètres"/>
          </FlexboxLayout>
        </FlexboxLayout >
        <Label class="link-border"/>
        <FlexboxLayout class="link" alignItems="center" @tap="shareDashboard">
          <Image src="~/assets/images/icons/icon-share.png" class="task-icon" />
          <Label text="Partager le code du Kimok"/>
        </FlexboxLayout>
        <Label class="link-border"/>
        <FlexboxLayout alignItems="center" class="link" @tap="onLinkTap(ParamsAbout)">  
          <Label text="A propos"/>
        </FlexboxLayout>
        <Label class="link-border"/>
      </FlexboxLayout>
    </StackLayout>
  </GridLayout>
</template>

<script>
import mixin from '../../mixin'
import Params from "../Views/Params";
import ParamsAbout from "../Views/ParamsAbout";
var SocialShare = require("@nativescript/social-share");

export default {
  props:["dashboardInfos"],
  mixins:[mixin],
  components:{
    Params,
    ParamsAbout
  },
  data () {
    return {
      Params:Params,
      ParamsAbout:ParamsAbout,
      dashboardId:this.dashboardInfos.dashboardId,
      currentUserId:this.dashboardInfos.currentUserId
    };
  },
  methods:{
    onLinkTap(page) {
      this.$emit('closeDrawer')
      this.$navigateTo(page, {
        props: {
          dashboardInfos:this.dashboardInfos
        }
      })
    },
    shareDashboard() {
      this.$emit('closeDrawer')
      SocialShare.shareText(this.dashboardId, "Numéro du dashboard Kimoko");
    },
    openParams() {
      this.$emit('closeDrawer')
      this.$showModal(ModalParams);
    }
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  GridLayout{
    background-color:$background;
    .header{
      margin:0;
      padding:0;
      background-image: url('~/assets/images/header-menu.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .task-icon {
      width: 24;
      height: 24;
      margin-right:10;
    }
  }
</style>