<template>
<ScrollView>
  <StackLayout>
    <FlexboxLayout v-if="android"  @tap="closeModal" alignItems="center" justifyContent="flex-start" height="65">
      <Image src="~/assets/images/close-icon.png" tintColor="#0A3A4F" id="close-icon"/>
    </FlexboxLayout>
    <FlexboxLayout :key="task.id" v-for="task in selectedTasks" flexDirection="column" >
      <Task @addPoints="addPoints" :task="task" :from="from" />
    </FlexboxLayout>
  </StackLayout>
</ScrollView>
</template>

<script>
import { firebase } from '@nativescript/firebase'
import Task from './Task'
import mixin from '../../mixin'
import { isAndroid } from "tns-core-modules/platform";

export default {
  props:["selectedTasks", "dashboardId", "currentUserId", "users"],
  mixins:[mixin],
  components:{
    Task
  },
  data() {
    return {
      android:false,
      from:"modal"
    }
  },

  methods:{
    async addPoints(task) {
      let pointsToAdd = 0
      let currentUser = this.users.find(user => user.id == this.currentUserId)
      let currentUserId = this.currentUserId

      // Find other users and update points in DB
      let otherUsers = this.users.filter(function(user) {
        return user.id != currentUserId
      }) 
      otherUsers.forEach(otherUser => {
        if (otherUser.points > task.points) {
          const newPoints = otherUser.points - task.points
          this.updateOtherUserPointsDb(newPoints, otherUser.id)
        } 
        else {
          let diffPoints = task.points - otherUser.points
          pointsToAdd = pointsToAdd + diffPoints
          this.updateOtherUserPointsDb(0, otherUser.id)
        }  
      })
      // Update current user points and tasks
      if (pointsToAdd > 0) {
        this.updateUserPointsDb(currentUser.points + task.points + pointsToAdd, task)
      }
      else {
        this.updateUserPointsDb(currentUser.points + task.points, task)
      }
    },
    updateUserPointsDb(pointsToAdd, task){
      class AccomplishedTask {
        constructor(title, addedDate, icon){
          this.title = title
          this.addedDate = addedDate
          this.icon = icon
        }
      }
      let accomplishedTask = new AccomplishedTask(task.title, new Date().getTime(), task.icon) 
      const currentUserDb = this.getUserRef(this.dashboardId, this.currentUserId)
      currentUserDb.update({
        points:pointsToAdd,
        accomplishedTasks:firebase.firestore.FieldValue.arrayUnion(accomplishedTask)
      })
      .then(()=> {
        this.$modal.close()
      })
    },
    updateOtherUserPointsDb(newPoints, otherUserId){
      let otherUserDb = this.getUserRef(this.dashboardId, otherUserId)
      otherUserDb.update({
        points:newPoints
      })
    },
    closeModal(){
      this.$modal.close()
    },
  },
  mounted(){
    if (isAndroid) {
      this.android = true
    }
  },
};
</script>

<style lang="scss" scoped>
  @import "../../assets/css/_var-mix.scss";
  StackLayout {
    background-color: $background;
    padding:16 16; 
    #close-icon{
      width:16;
      height:16;
    }
  }
</style>
