<template>
  <FlexboxLayout height="60" @tap="$emit('addPoints', task)" class="task-single" justifyContent="space-between" alignItems="center">
    <Image v-if="task.selected" :src="taskImage" class="task-icon" tintColor="#FFFFFF" ></Image>
    <Image v-else :src="taskImage" class="task-icon" ></Image>
    <Label :text="task.title"/>
    <Label :text="'+' + task.points" fontStyle="italic"/>
  </FlexboxLayout> 
</template>

<script>
  export default {
    props:["task", "from"],
    data(){
      return {
        taskImage:""
      }
    },
    mounted(){
      this.taskImage = "~/assets/images/icons/" + this.task.icon + ".png"
      if (this.from == "modal") {
        this.task.selected = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/_var-mix.scss";
  .task-single{
    width:100%;
    background-color: #FFFFFF;
    color:$primary;
    margin-top:10;
    border-radius:5px;
    padding:0 16;
    .task-icon {
      width: 24;
      height: 24;
    }
  }
</style>
  