<template>
  <ScrollView>
    <StackLayout row="0">
      <FlexboxLayout class="users" flexWrap="wrap" justifyContent="space-between">
        <FlexboxLayout height="100" alignItems="center" justifyContent="center" class="user" :key="user.name" v-for="user in users" @tap="$emit('onUserTap', user)" :backgroundColor="user.backgroundColor">
          <Label v-if="user.id == currentUserId || user.name == currentUserId" :text="user.name + ' (vous)' " :color="user.color" textTransform="capitalize"/>
          <Label v-else :text="user.name" :color="user.color" textTransform="capitalize"/>
        </FlexboxLayout>
      </FlexboxLayout>
    </StackLayout>
  </ScrollView> 
</template>

<script>
  export default {
    props:["users", "currentUserId"]
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/_var-mix.scss";
    .user {
      margin-top:16;
      color:#fff;
      text-align: center;
      width:48%;
      border-radius:5px;
    }
</style>