<template>
  <Page>
    <ActionBar title="Ajouter des utilisateurs" flat="true" class="action-bar">
      <NavigationButton text="" android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
    </ActionBar>
    <GridLayout rows="*, auto" height="100%">
      <UsersList @onUserTap="onUserTap" :users="users" :currentUserId="selectedUser"/>
      <StackLayout row="1">
        <Label if="error" :text="error" class="text-error" textWrap="true"/>
        <FlexboxLayout flexDirection="column">
          <Label textWrap="true" class="text-regular" text="Ajoutez un nouvel utilisateur"/>
          <TextField class="textfield-primary" id="foo" v-model="textFieldValue" :hint="textFieldText" returnKeyType="done" @returnPress="onAddUser" @focus="onFocus" @blur="onBlur"/>
        </FlexboxLayout>
        <Button :isEnabled="isValid" text="Continuer" class="primary-bt inactive" @tap="onSaveUsers" v-bind:class="{ active:isValid }"/>
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
  import { Dialogs } from "@nativescript/core";
  import TasksChoice from './TasksChoice'
  import UsersList from '../Components/UsersList'
  import mixin from '../../mixin'
  import { isIOS } from '@nativescript/core/platform';

  export default {
    mixins:[mixin],
    components: {
      TasksChoice,
      UsersList
    },
    data() {
      return {
        textFieldValue:"",
        error:"",
        isValid: false,
        users: [],
        colors:[],
        textFieldText:'',
        selectedUser:''
      }
    },
    methods: {
      onFocus(args){
        if (isIOS) {
          args.object.marginBottom = "290"
        }
      },
      onBlur(args){
        if (isIOS) {
          args.object.marginBottom = "20"
        }
      },
      onAddUser(){
        let validForm = this.validateForm(this.textFieldValue, this.users)
        if (validForm.valid) {
          class User {
            constructor(name, points, color, backgroundColor){
              this.name = name
              this.points = points
              this.color = color
              this.backgroundColor = backgroundColor
            }
          }
          let user = new User(this.textFieldValue, 0, this.colors[0], this.hexToRGB(this.colors[0], 0.1))
          this.colors.shift()
          if (this.users.length == 0) {
            this.selectedUser = user.name
          }
          this.users.push(user)
          this.textFieldValue = ""
          this.error = ""
          this.isValid = true
          if (this.users.length > 0) {
            this.textFieldText = "Prénom de l'utilisateur"
          }
        }
        else {
          this.error = validForm.error
        }
      },
      onUserTap(user) {
        Dialogs.action({
          cancelButtonText: "Annuler",
          cancelable:true,
          actions: ["Je suis cet utilisateur", "Modifier", "Supprimer"]
        })
        .then(result => {
          switch(result) {
            case "Je suis cet utilisateur": 
              this.selectUser(user)
              break;
            case "Modifier": 
              this.changeUserName(user)
              break;
            case "Supprimer": 
              this.deleteUser(user)
              break;
          }
        })
      },
      selectUser(user){
        this.selectedUser = user.name
      },
      changeUserName(user){
        Dialogs.prompt({
          title:"Changer le nom de l'utilisateur",
          okButtonText: "Valider",
          cancelButtonText: "Annuler",
          defaultText: user.name,
        })
        .then (result => {
          let objIndex = this.users.findIndex((obj => obj.name == user.name))
          this.users[objIndex].name = result.text
        })
      },
      deleteUser(user){
        this.colors.push(user.color)
        this.users = this.users.filter(function(obj) {
          return obj.name !== user.name
        })
        if (!this.users.length) {
          this.isValid = false
        }
      },
      onSaveUsers() {
        if (this.users.length) {
          this.$navigateTo(TasksChoice, {
            props: {
              users:this.users,
              selectedUser:this.selectedUser
            }
          })
        }
      },
    },
    async mounted() {
      const colorsDb = await this.getColors()
      colorsDb.get().then((doc) => {
        doc.data().colors.forEach(color => {
          this.colors.push(color)
        })
      })
      this.textFieldText = 'Quel est votre prénom ?'
    },
    loaded(args){
      var page = args.object;
      page.getViewById("foo").ios.inputAccessoryView = UIView.alloc().init();
    }
  }
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  Page {
    background-color: $background;
    GridLayout {
      margin:16;
    }
    
  }
</style>