<template>
  <Page>
    <ActionBar title="Rejoindre un dashboard" flat="true" class="action-bar">
       <NavigationButton text="" android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
    </ActionBar>
    <StackLayout row="0"> 
      <Label text="Entrez ou collez le numéro du Kimok pour rejoindre la partie" textWrap="true" class="text-regular"/>
      <TextField row="1" class="textfield-primary" v-model="textFieldValue" hint="Numéro du Kimok" returnKeyType="done" @returnPress="onJoinDashboard"/>
      <Label if="error" :text="error" class="text-error" textWrap="true"/>
    </StackLayout>
  </Page>
</template>
<script>
import mixin from '../../mixin'
import SelectUser from './SelectUser'

export default {
  mixins:[mixin],
  components: {
    SelectUser
  },
  data() {
    return {
      dashboardId:"",
      error:"",
    }
  },
  methods:{
    async onJoinDashboard() {
      const dashboardDb = this.getDashboardRef(this.textFieldValue)
      dashboardDb.get().then(doc => {
        if(doc.exists) {
          this.dashboardId = this.textFieldValue
          this.$navigateTo(SelectUser, {
            props: {
              dashboardId:this.dashboardId
            }
          })
        } 
        else {
          this.error= "Aucune partie n'a été trouvé avec ce code :( "
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  Page {
    background-color: $background;
    StackLayout {
      margin: 20 16;
    }
  }
</style>