<template>
  <Page>
    <ActionBar title="Qui êtes vous ?" flat="true" class="action-bar">
       <NavigationButton text="" android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
    </ActionBar>
    <GridLayout rows="*, auto" height="100%">
      <UsersList @onUserTap="onUserTap" :users="users" class="users-list"/>
      <StackLayout row="1">
        <Label if="error" :text="error" class="text-error" textWrap="true"/>
        <FlexboxLayout backgroundColor="white" flexDirection="column" class="user-input">
          <Label textWrap="true" text="Vous ajouter aux utilisateurs existants" class="text-regular"/>
          <TextField row="1" class="textfield-secondary" v-model="textFieldValue" hint="Entrez votre nom" returnKeyType="done" @returnPress="onAddNewUser" @focus="onFocus" @blur="onBlur"/>
        </FlexboxLayout>
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import mixin from '../../mixin'
import App from '../App'
import * as applicationSettings from 'tns-core-modules/application-settings'
import UsersList from '../Components/UsersList'
import { isIOS } from '@nativescript/core/platform';

export default {
  mixins:[mixin],
  components: {
    App,
    UsersList
  },
  props:['dashboardId'],
  data() {
    return {
      users:[],
      textFieldValue:"",
      colors:[],
      newUser:{},
      error:""
    }
  },
  methods:{
    onFocus(args){
      if (isIOS) {
        args.object.marginBottom = "345"
      }
    },
    onBlur(args){
      if (isIOS) {
        args.object.marginBottom = "20"
      }
    },
    onUserTap(user){
      applicationSettings.setBoolean("initApp", true)
      applicationSettings.setString("dashboardId", this.dashboardId)
      applicationSettings.setString("currentUserId", user.id)
      if (this.checkData() && applicationSettings.hasKey("initApp") && applicationSettings.hasKey("dashboardId") && applicationSettings.hasKey("currentUserId")){
        this.$navigateTo(App)
      } 
      else {
        this.error = "Un problème est survenu, veuillez réessayer plus tard"
      }
    },
    onAddNewUser(){
      let validForm = this.validateForm(this.textFieldValue, this.users)   
      if (validForm.valid) {         
        class newUser {
          constructor(name, points, color){
            this.name = name
            this.points = points
            this.color = color
          }
        }
        this.newUser = new newUser(this.textFieldValue, 0, this.colors[0]) 
        this.validateUser()
      } 
      else {
        this.error = validForm.error
      }
    },
    async validateUser(){
      applicationSettings.setBoolean("initApp", true)
      applicationSettings.setString("dashboardId", this.dashboardId)

      const usersDb = await this.getDashboardUsers(this.dashboardId)
      usersDb.add(this.newUser)
      .then(userDb => {
        applicationSettings.setString("currentUserId", userDb.id)
        if (this.checkData() && applicationSettings.hasKey("initApp") && applicationSettings.hasKey("dashboardId") && applicationSettings.hasKey("currentUserId")){
          this.$navigateTo(App)
        } 
      })
      .catch((error) => {
        this.error = error
      })
    },
    checkData(){
      if (this.users.length > 0 && this.colors.length) {
        return true
      }
    },
  },
  async mounted() {
    class User {
      constructor(id, name, color, backgroundColor, selected){
        this.id = id
        this.name = name
        this.color = color
        this.backgroundColor = backgroundColor
        this.selected = selected
      }
    }

    // Get all users in dashboard in Db
    const usersDb = await this.getDashboardUsers(this.dashboardId).get()
    usersDb.docs.map(doc => {
      let userDb = new User(doc.id, doc.data().name, doc.data().color, this.hexToRGB(doc.data().color, 0.1), false)
      this.users.push(userDb)
    })

    // Get all colors from DB 
    const colorsDb = await this.getColors()
    colorsDb.get().then((doc) => {
      doc.data().colors.forEach(color => {
        this.colors.push(color)
      })
      this.users.forEach(user => {
        this.colors = this.colors.filter(e => !e.includes(user.color))
      })
    })
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  Page {
    background-color:$background;
    GridLayout {
      .users-list{
        margin:0 16;
      }
      .user-input{
        padding: 32 16 0 16;
        border-radius:10;
      }
      .text-error{
        margin-left:16;
      }
    }
  }
</style>