<template>
  <Page>
    <ActionBar title="Choix des tâches" flat="true" class="action-bar">
      <NavigationButton text="" android.systemIcon="ic_menu_back"/>
    </ActionBar>
    <GridLayout rows="*, auto" class="main" height="100%">
      <ScrollView>
        <StackLayout row="0">
          <StackLayout>
            <Label if="error" :text="error" class="text-error" textWrap="true"/>
            <Label text="Choisis les tâches qui correspondent à ton ménage. Les points attribués à chaque tâche pourront être changer dans les paramètres" textWrap="true" class="text-regular"/>
          </StackLayout>
          <FlexboxLayout class="tasks" flexDirection="column">
           <FlexboxLayout justifyContent="space-between" alignItems="center" :key="task.id" v-for="task in tasks">
              <Task @addPoints="onSelectTask" :task="task" v-bind:class="{selected:task.selected }" />
            </FlexboxLayout>
          </FlexboxLayout>
        </StackLayout>
      </ScrollView>
      <StackLayout row="1">
        <Button :isEnabled="isValid" text="Lancer la partie !" class="primary-bt inactive" @tap="onSaveTasks" v-bind:class="{ active:isValid }"/>
      </StackLayout>
    </GridLayout> 
  </Page>
</template>

<script>
import { firebase } from '@nativescript/firebase'
import * as applicationSettings from 'tns-core-modules/application-settings'
import mixin from '../../mixin'
import App from '../App'
import Task from '../Components/Task'

export default {
  mixins:[mixin],
  components:{
    App,
    Task
  },
  props:['users', 'selectedUser'],
  data() {
    return {
      tasks:[],
      isValid:false,
      error:"",
      dashboardInfos: {
        dashboardId:"",
        currentUserId:""
      },
    }
  },
  methods: {
    onSelectTask(task) {
      let objIndex = this.tasks.findIndex((obj => obj.title == task.title))
      this.tasks[objIndex].selected ? this.tasks[objIndex].selected = false : this.tasks[objIndex].selected = true
      this.checkArray()
    },
    checkArray(){
      this.tasks.some(task => task.selected == true) ? this.isValid = true : this.isValid = false
    },
    async onSaveTasks() {
      await this.createDashboardDb()
      if (this.isValid) {
        await this.saveUsersDb()
      }
      if (this.isValid) {
        await this.saveTasksDb()
      }
      if (this.isValid) {
        await this.saveAppSettings()
      }
      if (this.isValid){
        this.$navigateTo(App)
      }
    },
    async createDashboardDb(){
      const dashboardDb = await firebase.firestore.collection("dashboards").doc()
      dashboardDb.set({createdDate: new Date().getTime()})
      if (dashboardDb.id) {
        this.dashboardInfos.dashboardId = dashboardDb.id
      } else {
        this.isValid = false
      }
    },
    async saveUsersDb() {
      // Add admin
      let objIndex = this.users.findIndex((obj => obj.name == this.selectedUser))
      delete this.users[objIndex].backgroundColor
      await this.getDashboardRef(this.dashboardInfos.dashboardId).collection("users").add(this.users[objIndex])
      .then(userDb => {
        this.dashboardInfos.currentUserId = userDb.id
      })
      .catch((error)=> {
        this.isValid = false
        this.error = error
      })
      // Add all other users
      const dash = await this.getDashboardRef(this.dashboardInfos.dashboardId)
      this.users.forEach(user => {
        if (user.name != this.selectedUser) {
          delete user.backgroundColor
          dash.collection("users").add(user)
          .then((doc) => {
          })
          .catch((error) => {
            this.isValid = false
            this.error = error
          })
        }
      })
    },
    async saveTasksDb(){
      const selectedTasksDb = await this.getDashboardTasks(this.dashboardInfos.dashboardId)
      this.tasks.forEach(task => {
        if (task.selected == true) {
          selectedTasksDb.add(task)
          .then((doc) => {
            // console.log(doc.id)
          })
          .catch((error) => {
            this.isValid = false
            this.error = error
          })
        }
      })
    },
    saveAppSettings(){
      applicationSettings.setBoolean("initApp", true)
      applicationSettings.setString("dashboardId", this.dashboardInfos.dashboardId)
      applicationSettings.setString("currentUserId", this.dashboardInfos.currentUserId)
      if (!applicationSettings.hasKey("initApp") || !applicationSettings.hasKey("dashboardId") || !applicationSettings.hasKey("currentUserId")){
        this.isValid = false
      } 
    }
  },
  async mounted() {
    class Task {
      constructor(title, points, selected, icon){
        this.title = title
        this.points = points
        this.selected = selected
        this.icon = icon
      }
    }
    const tasksDb = await firebase.firestore.collection("tasks").get()
    tasksDb.docs.map(doc =>  {
      let task = new Task(doc.data().title, doc.data().points, false, doc.data().icon)
      this.tasks.push(task)
    })
  }
}
</script>


<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  Page {
    background-color: $background;
    GridLayout {
      margin:16;
    }
    .tasks {
      margin-top:20;
    } 
  }
</style>