<template>
  <Page actionBarHidden="true">
    <GridLayout rows="*, auto" height="100%">
      <FlexboxLayout row="0" alignItems="center" justifyContent="center">
        <StackLayout class="content">
          <Image src="~/assets/images/picto-kimok.png" class="logo"/>
          <Label textWrap="true" class="title" text="Bienvenue sur Kimok !"/>
          <Label textWrap="true" class="text-big" text="Une application toute simple qui permet d’équilibrer la répartition des tâches quotidiennes entre personnes."/>
        </StackLayout>
      </FlexboxLayout>
      <StackLayout row="1">
        <Button class="primary-bt secondary-bt" text="Créer une partie" @tap="$navigateTo(CreateUsers)" />
        <Button class="primary-bt" text="Rejoindre une partie" @tap="$navigateTo(JoinDashboard)"/>
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import CreateUsers from './CreateUsers'
import JoinDashboard from './JoinDashboard'

export default {
  data(){
    return{
      CreateUsers:CreateUsers,
      JoinDashboard:JoinDashboard
    }
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/_var-mix.scss";
  Page {
    background-image: url('~/assets/images/welcome-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    GridLayout{
      padding : 0 16;
      .content {
        .logo {
          width:86;
          height:86;
        }
        .title {
          color:$primary;
          margin-top:20;
          text-align: center;
          font-size:24;
          font-weight:500;
        }
        .text-big {
          margin-top:20;
        }
      }
      .secondary-bt {
        background-color:#ffffff;
        color:$primary;
      }
    }
  }
</style>